<nav id="menu3" class="bar bar--sm bar-1 bg--secondary adjust-height-navbar">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="bar__module">
                  <ul class="menu-horizontal text-left">
                      <li class="dropdown dropdown--hover">
                          <img alt="background" class="thumb-set" src="../../assets/img/grafikicon.png" />
                          <span class="dropdown__trigger">Grafikdesign</span>
                          <div class="dropdown__container" style="left: -678.328px;">
                              <div class="container">
                                  <div class="row">
                                      <div class="dropdown__content dropdown__content--lg col-md-8" style="left: 678.328px;">
                                          <div class="pos-absolute col-md-5 imagebg hidden-sm hidden-xs" data-overlay="6">
                                              <div class="background-image-holder" style="background: url(../../assets/img/inner-6.jpg); opacity: 1;">
                                                  <img alt="background" src="../../assets/img/inner-6.jpg">
                                              </div>
                                              <div class="container pos-vertical-center">
                                                  <div class="row">
                                                      <div class="col-md-10 col-md-offset-1">
                                                          <img alt="Logo" src="../../assets/img/logo-light.png" class="image--xxs">
                                                          <span class="h3 color--white">Over 290 modular interface blocks.</span>
                                                          <a href="#" class="btn btn--primary type--uppercase">
                                                              <span class="btn__text">
                                                                  Launch Builder
                                                              </span>
                                                          </a>
                                                      </div>
                                                  </div>
                                                  <!--end of row-->
                                              </div>
                                          </div>
                                          <div class="col-md-6 col-md-offset-6">
                                              <div class="row">
                                                  <div class="col-sm-6">
                                                      <ul class="menu-vertical">
                                                          <li>
                                                              <a href="sections-accordions.html">
                                                                  Accordions
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-cta.html">
                                                                  Calls To Action
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-cards.html">
                                                                  Cards
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-covers.html">
                                                                  Covers
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-features-small.html">
                                                                  Features Small
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-features-large.html">
                                                                  Features Large
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-contact.html">
                                                                  Forms Contact
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-signup.html">
                                                                  Forms Signup
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-subscribe.html">
                                                                  Forms Subscribe
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-footers.html">
                                                                  Footers
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-galleries.html">
                                                                  Galleries
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-instagram.html">
                                                                  Instagram
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-maps.html">
                                                                  Maps
                                                              </a>
                                                          </li>
                                                      </ul>
                                                  </div>
                                                  <div class="col-sm-6">
                                                      <ul class="menu-vertical">
                                                          <li>
                                                              <a href="sections-modals.html">
                                                                  Modals
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-navigation.html">
                                                                  Navigation Bars
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-notifications.html">
                                                                  Notifications
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-pricing.html">
                                                                  Pricing
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-processes.html">
                                                                  Processes
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-sliders.html">
                                                                  Sliders
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-twitter.html">
                                                                  Twitter
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-tabs.html">
                                                                  Tabs
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-team.html">
                                                                  Teams
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-testimonials.html">
                                                                  Testimonials
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-text-layouts.html">
                                                                  Text Layouts
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-titles.html">
                                                                  Titles
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-videos.html">
                                                                  Videos
                                                              </a>
                                                          </li>
                                                      </ul>
                                                  </div>
                                              </div>
                                              <!--end of row-->
                                          </div>
                                      </div>
                                      <!--end dropdown content-->
                                  </div>
                                  <!--end row-->
                              </div>
                              <!--end container-->
                          </div>
                          <!--end dropdown container-->
                      </li>
                      <li class="dropdown dropdown--hover">
                          <img alt="background" class="thumb-set" src="../../assets/img/webicon.png" />
                          <span class="dropdown__trigger">Webdesign</span>
                          <div class="dropdown__container" style="left: -678.328px;">
                              <div class="container">
                                  <div class="row">
                                      <div class="dropdown__content dropdown__content--lg col-md-8" style="left: 678.328px;">
                                          <div class="pos-absolute col-md-5 imagebg hidden-sm hidden-xs" data-overlay="6">
                                              <div class="background-image-holder" style="background: url(../../assets/img/inner-6.jpg); opacity: 1;">
                                                  <img alt="background" src="../../assets/img/inner-6.jpg">
                                              </div>
                                              <div class="container pos-vertical-center">
                                                  <div class="row">
                                                      <div class="col-md-10 col-md-offset-1">
                                                          <img alt="Logo" src="../../assets/img/logo-light.png" class="image--xxs">
                                                          <span class="h3 color--white">Over 290 modular interface blocks.</span>
                                                          <a href="#" class="btn btn--primary type--uppercase">
                                                              <span class="btn__text">
                                                                  Launch Builder
                                                              </span>
                                                          </a>
                                                      </div>
                                                  </div>
                                                  <!--end of row-->
                                              </div>
                                          </div>
                                          <div class="col-md-6 col-md-offset-6">
                                              <div class="row">
                                                  <div class="col-sm-6">
                                                      <ul class="menu-vertical">
                                                          <li>
                                                              <a href="sections-accordions.html">
                                                                  Accordions
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-cta.html">
                                                                  Calls To Action
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-cards.html">
                                                                  Cards
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-covers.html">
                                                                  Covers
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-features-small.html">
                                                                  Features Small
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-features-large.html">
                                                                  Features Large
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-contact.html">
                                                                  Forms Contact
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-signup.html">
                                                                  Forms Signup
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-subscribe.html">
                                                                  Forms Subscribe
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-footers.html">
                                                                  Footers
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-galleries.html">
                                                                  Galleries
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-instagram.html">
                                                                  Instagram
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-maps.html">
                                                                  Maps
                                                              </a>
                                                          </li>
                                                      </ul>
                                                  </div>
                                                  <div class="col-sm-6">
                                                      <ul class="menu-vertical">
                                                          <li>
                                                              <a href="sections-modals.html">
                                                                  Modals
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-navigation.html">
                                                                  Navigation Bars
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-notifications.html">
                                                                  Notifications
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-pricing.html">
                                                                  Pricing
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-processes.html">
                                                                  Processes
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-sliders.html">
                                                                  Sliders
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-twitter.html">
                                                                  Twitter
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-tabs.html">
                                                                  Tabs
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-team.html">
                                                                  Teams
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-testimonials.html">
                                                                  Testimonials
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-text-layouts.html">
                                                                  Text Layouts
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-titles.html">
                                                                  Titles
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-videos.html">
                                                                  Videos
                                                              </a>
                                                          </li>
                                                      </ul>
                                                  </div>
                                              </div>
                                              <!--end of row-->
                                          </div>
                                      </div>
                                      <!--end dropdown content-->
                                  </div>
                                  <!--end row-->
                              </div>
                              <!--end container-->
                          </div>
                          <!--end dropdown container-->
                      </li>
                      <li class="dropdown dropdown--hover">
                          <img alt="background" class="thumb-set" src="../../assets/img/videoicon.png" />
                          <span class="dropdown__trigger">Video & 3D</span>
                          <div class="dropdown__container" style="left: -678.328px;">
                              <div class="container">
                                  <div class="row">
                                      <div class="dropdown__content dropdown__content--lg col-md-8" style="left: 678.328px;">
                                          <div class="pos-absolute col-md-5 imagebg hidden-sm hidden-xs" data-overlay="6">
                                              <div class="background-image-holder" style="background: url(../../assets/img/inner-6.jpg); opacity: 1;">
                                                  <img alt="background" src="../../assets/img/inner-6.jpg">
                                              </div>
                                              <div class="container pos-vertical-center">
                                                  <div class="row">
                                                      <div class="col-md-10 col-md-offset-1">
                                                          <img alt="Logo" src="../../assets/img/logo-light.png" class="image--xxs">
                                                          <span class="h3 color--white">Over 290 modular interface blocks.</span>
                                                          <a href="#" class="btn btn--primary type--uppercase">
                                                              <span class="btn__text">
                                                                  Launch Builder
                                                              </span>
                                                          </a>
                                                      </div>
                                                  </div>
                                                  <!--end of row-->
                                              </div>
                                          </div>
                                          <div class="col-md-6 col-md-offset-6">
                                              <div class="row">
                                                  <div class="col-sm-6">
                                                      <ul class="menu-vertical">
                                                          <li>
                                                              <a href="sections-accordions.html">
                                                                  Accordions
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-cta.html">
                                                                  Calls To Action
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-cards.html">
                                                                  Cards
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-covers.html">
                                                                  Covers
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-features-small.html">
                                                                  Features Small
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-features-large.html">
                                                                  Features Large
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-contact.html">
                                                                  Forms Contact
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-signup.html">
                                                                  Forms Signup
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-subscribe.html">
                                                                  Forms Subscribe
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-footers.html">
                                                                  Footers
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-galleries.html">
                                                                  Galleries
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-instagram.html">
                                                                  Instagram
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-maps.html">
                                                                  Maps
                                                              </a>
                                                          </li>
                                                      </ul>
                                                  </div>
                                                  <div class="col-sm-6">
                                                      <ul class="menu-vertical">
                                                          <li>
                                                              <a href="sections-modals.html">
                                                                  Modals
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-navigation.html">
                                                                  Navigation Bars
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-notifications.html">
                                                                  Notifications
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-pricing.html">
                                                                  Pricing
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-processes.html">
                                                                  Processes
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-sliders.html">
                                                                  Sliders
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-twitter.html">
                                                                  Twitter
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-tabs.html">
                                                                  Tabs
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-team.html">
                                                                  Teams
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-testimonials.html">
                                                                  Testimonials
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-text-layouts.html">
                                                                  Text Layouts
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-titles.html">
                                                                  Titles
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-videos.html">
                                                                  Videos
                                                              </a>
                                                          </li>
                                                      </ul>
                                                  </div>
                                              </div>
                                              <!--end of row-->
                                          </div>
                                      </div>
                                      <!--end dropdown content-->
                                  </div>
                                  <!--end row-->
                              </div>
                              <!--end container-->
                          </div>
                          <!--end dropdown container-->
                      </li>
                      <li class="dropdown dropdown--hover">
                          <img alt="background" class="thumb-set" src="../../assets/img/appicon.png" />
                          <span class="dropdown__trigger">Apps & Development</span>
                          <div class="dropdown__container" style="left: -678.328px;">
                              <div class="container">
                                  <div class="row">
                                      <div class="dropdown__content dropdown__content--lg col-md-8" style="left: 678.328px;">
                                          <div class="pos-absolute col-md-5 imagebg hidden-sm hidden-xs" data-overlay="6">
                                              <div class="background-image-holder" style="background: url(../../assets/img/inner-6.jpg); opacity: 1;">
                                                  <img alt="background" src="../../assets/img/inner-6.jpg">
                                              </div>
                                              <div class="container pos-vertical-center">
                                                  <div class="row">
                                                      <div class="col-md-10 col-md-offset-1">
                                                          <img alt="Logo" src="../../assets/img/logo-light.png" class="image--xxs">
                                                          <span class="h3 color--white">Over 290 modular interface blocks.</span>
                                                          <a href="#" class="btn btn--primary type--uppercase">
                                                              <span class="btn__text">
                                                                  Launch Builder
                                                              </span>
                                                          </a>
                                                      </div>
                                                  </div>
                                                  <!--end of row-->
                                              </div>
                                          </div>
                                          <div class="col-md-6 col-md-offset-6">
                                              <div class="row">
                                                  <div class="col-sm-6">
                                                      <ul class="menu-vertical">
                                                          <li>
                                                              <a href="sections-accordions.html">
                                                                  Accordions
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-cta.html">
                                                                  Calls To Action
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-cards.html">
                                                                  Cards
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-covers.html">
                                                                  Covers
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-features-small.html">
                                                                  Features Small
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-features-large.html">
                                                                  Features Large
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-contact.html">
                                                                  Forms Contact
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-signup.html">
                                                                  Forms Signup
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-subscribe.html">
                                                                  Forms Subscribe
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-footers.html">
                                                                  Footers
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-galleries.html">
                                                                  Galleries
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-instagram.html">
                                                                  Instagram
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-maps.html">
                                                                  Maps
                                                              </a>
                                                          </li>
                                                      </ul>
                                                  </div>
                                                  <div class="col-sm-6">
                                                      <ul class="menu-vertical">
                                                          <li>
                                                              <a href="sections-modals.html">
                                                                  Modals
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-navigation.html">
                                                                  Navigation Bars
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-notifications.html">
                                                                  Notifications
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-pricing.html">
                                                                  Pricing
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-processes.html">
                                                                  Processes
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-sliders.html">
                                                                  Sliders
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-twitter.html">
                                                                  Twitter
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-tabs.html">
                                                                  Tabs
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-team.html">
                                                                  Teams
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-testimonials.html">
                                                                  Testimonials
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-text-layouts.html">
                                                                  Text Layouts
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-titles.html">
                                                                  Titles
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="sections-videos.html">
                                                                  Videos
                                                              </a>
                                                          </li>
                                                      </ul>
                                                  </div>
                                              </div>
                                              <!--end of row-->
                                          </div>
                                      </div>
                                      <!--end dropdown content-->
                                  </div>
                                  <!--end row-->
                              </div>
                              <!--end container-->
                          </div>
                          <!--end dropdown container-->
                      </li>
                      <li class="dropdown dropdown--hover">
                          <a href="#">weitere Kategorien</a>
                          <!--end dropdown container-->
                      </li>
                  </ul>
              </div>
              <!--end module-->

              <!--end module-->
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 text-right">
              <div class="bar__module ml-5">
                  <ul class="menu-horizontal">
                      <li>
                          <a href="askcustomorder.html">
                              <div class="modal-instance block text-left">
                                  <img class="ml-3" alt="background" src="../../assets/img/customericon.png" class="icon" style="margin-right: 1px;" />
                                  <a href="ask-custom-app.html">
                                      <span  style="font-weight: bolder;color: #666666;">Individuelles Angebot </span>
                                  </a>
                              </div>
                          </a>
                          <!--end dropdown container-->
                      </li>

                  </ul>
              </div>
              <!--end module-->

              <!--end module-->
          </div>
      </div>
      <!--end of row-->
  </div>
  <!--end of container-->
</nav>
