.set-font-size{
    font-size: 13px !important;
}
.m-dropdown.m-dropdown--align-center.m-dropdown--large .m-dropdown__wrapper {
    width: 380px;
    margin-left: -190px;
}

.m-dropdown.m-dropdown--align-center.m-dropdown--large .m-dropdown__wrapper {
    width: 380px;
    margin-left: -190px;
}

.m-dropdown.m-dropdown--arrow .m-dropdown__wrapper {
    padding-top: 10px;
}

.m-dropdown.m-dropdown--align-center .m-dropdown__wrapper {
    left: 50%;
    width: 245px;
    margin-left: -122.5px;
}

.m-dropdown.m-dropdown--hoverable:hover .m-dropdown__wrapper, .m-dropdown.m-dropdown--open .m-dropdown__wrapper {
    display: block;
    -webkit-animation: m-dropdown-fade-in .3s ease 1, m-dropdown-move-up .3s ease-out 1;
    -moz-animation: m-dropdown-fade-in .3s ease 1, m-dropdown-move-up .3s ease-out 1;
    -ms-animation: m-dropdown-fade-in .3s ease 1, m-dropdown-move-up .3s ease-out 1;
    -o-animation: m-dropdown-fade-in .3s ease 1, m-dropdown-move-up .3s ease-out 1;
    animation: m-dropdown-fade-in .3s ease 1, m-dropdown-move-up .3s ease-out 1;
}

.m-dropdown.m-dropdown--large .m-dropdown__wrapper {
    width: 380px;
}

.m-dropdown.m-dropdown--arrow .m-dropdown__wrapper {
    padding-top: 10px;
}

.m-dropdown.m-dropdown--align-center .m-dropdown__wrapper {
    left: 50%;
    width: 245px;
    margin-left: -122.5px;
}

.m-dropdown.m-dropdown--hoverable:hover .m-dropdown__wrapper, .m-dropdown.m-dropdown--open .m-dropdown__wrapper {
    display: block;
    -webkit-animation: m-dropdown-fade-in .3s ease 1, m-dropdown-move-up .3s ease-out 1;
    -moz-animation: m-dropdown-fade-in .3s ease 1, m-dropdown-move-up .3s ease-out 1;
    -ms-animation: m-dropdown-fade-in .3s ease 1, m-dropdown-move-up .3s ease-out 1;
    -o-animation: m-dropdown-fade-in .3s ease 1, m-dropdown-move-up .3s ease-out 1;
    animation: m-dropdown-fade-in .3s ease 1, m-dropdown-move-up .3s ease-out 1;
}

.m-dropdown.m-dropdown--large .m-dropdown__wrapper {
    width: 380px;
}

.m-dropdown .m-dropdown__wrapper {
    top: 100%;
    text-align: left;
    display: none;
    position: absolute;
    z-index: 1100;
    padding-top: 0;
    width: 245px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.m-dropdown .m-dropdown__wrapper {
    top: 100%;
    text-align: left;
    display: none;
    position: absolute;
    z-index: 1100;
    padding-top: 0;
    width: 245px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.m-list-timeline__group {
    margin: 0 0 30px 0
}

.m-list-timeline__heading {
    margin: 0 0 18px 0;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase
}

.m-list-timeline__items {
    position: relative;
    padding: 0;
    margin: 0
}

.m-list-timeline__items:before {
    position: absolute;
    display: block;
    content: '';
    width: 1px;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 3px
}

.m-list-timeline__items .m-list-timeline__item {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 6px 0;
    margin: 5px 0
}

.m-list-timeline__items .m-list-timeline__item:first-child:before, .m-list-timeline__items .m-list-timeline__item:last-child:before {
    background-color: #fff;
    position: absolute;
    display: block;
    content: '';
    width: 1px;
    height: 50%;
    top: 0;
    bottom: 0;
    left: 3px
}

.m-list-timeline__items .m-list-timeline__item:last-child:before {
    top: auto;
    bottom: 0
}

.m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge {
    text-align: left;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    width: 32px
}

.m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge:before {
    position: absolute;
    display: block;
    content: '';
    width: 7px;
    height: 7px;
    left: 0;
    top: 50%;
    margin-top: -3.5px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%
}

.m-list-timeline__items .m-list-timeline__item .m-list-timeline__icon {
    text-align: left;
    vertical-align: middle;
    display: table-cell;
    width: 30px;
    padding: 0 5px 0 0;
    line-height: 0
}

.m-list-timeline__items .m-list-timeline__item [class*=" la-"], .m-list-timeline__items .m-list-timeline__item [class^=la-] {
    font-size: 1.6rem
}

.m-list-timeline__items .m-list-timeline__item [class*=" fa-"], .m-list-timeline__items .m-list-timeline__item [class^=fa-] {
    font-size: 1.2rem
}

.m-list-timeline__items .m-list-timeline__item [class*=" flaticon-"], .m-list-timeline__items .m-list-timeline__item [class^=flaticon-] {
    font-size: 1.6rem
}

.m-list-timeline__items .m-list-timeline__item .m-list-timeline__text {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    width: 70%;
    padding: 0 5px 0 0;
}

.m-list-timeline__items .m-list-timeline__item .m-list-timeline__text:hover {
    text-decoration: none
}

.m-list-timeline__items .m-list-timeline__item .m-list-timeline__time {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    width: 70px !important;
    padding: 0 7px 0 0;
    font-size: 10px ;
}

.m-list-timeline__items .m-list-timeline__item:first-child {
    padding-top: 0;
    margin-top: 0
}

.m-list-timeline__items .m-list-timeline__item:last-child {
    padding-bottom: 0;
    display: inline;
    margin-bottom: 0
}

.m-list-timeline .m-list-timeline__items:before {
    background-color: #ebedf2
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge:before {
    background-color: #ebedf2
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--brand:before {
    background-color: #716aca
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--metal:before {
    background-color: #c4c5d6
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--light:before {
    background-color: #fff
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--accent:before {
    background-color: #00c5dc
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--focus:before {
    background-color: #9816f4
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--primary:before {
    background-color: #5867dd
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--success:before {
    background-color: #34bfa3
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--info:before {
    background-color: #36a3f7
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--warning:before {
    background-color: #ffb822
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--danger:before {
    background-color: #f4516c
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__icon {
    color: #cfcedb
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__text_unseen a {
    color: #575962 !important;
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__text_seen a {
    color: #949494 !important;
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__time {
    color: #7b7e8a
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item:first-child:before, .m-list-timeline .m-list-timeline__items .m-list-timeline__item:last-child:before {
    background-color: #fff
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items:before {
    background-color: #a1a4b1
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge:before {
    background-color: #a1a4b1
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--brand:before {
    background-color: #716aca
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--metal:before {
    background-color: #c4c5d6
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--light:before {
    background-color: #fff
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--accent:before {
    background-color: #00c5dc
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--focus:before {
    background-color: #9816f4
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--primary:before {
    background-color: #5867dd
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--success:before {
    background-color: #34bfa3
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--info:before {
    background-color: #36a3f7
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--warning:before {
    background-color: #ffb822
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--danger:before {
    background-color: #f4516c
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__icon {
    color: #dfdff1
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__text {
    color: #fff
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__time {
    color: #d9d9d9
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item:first-child:before, .m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item:last-child:before {
    background-color: #333
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #9ea7c0;
    opacity: .7;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.m-datatable.m-datatable--default.m-datatable--scroll .mCustomScrollbar .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background: #9ea7c0;
    opacity: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.mCSB_scrollTools {
    right: -10px
}

.m-dropdown .m-dropdown__wrapper .m-dropdown__body.m-dropdown__body--paddingless .mCSB_scrollTools {
    right: 0
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #9ea7c0;
    opacity: .7;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.m-datatable.m-datatable--default.m-datatable--scroll .mCustomScrollbar .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background: #9ea7c0;
    opacity: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.mCSB_scrollTools {
    right: -10px
}

.m-dropdown .m-dropdown__wrapper .m-dropdown__body.m-dropdown__body--paddingless {
    padding: 0
}

.m-dropdown .m-dropdown__wrapper .m-dropdown__body.m-dropdown__body--paddingless .mCSB_scrollTools {
    right: 0
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px
}

.m-scrollable .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical, .m-scrollable .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical {
    right: -17px;
    margin: 5px 0
}

.m-scrollable .mCustomScrollBox.mCS-minimal + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal, .m-scrollable .mCustomScrollBox.mCS-minimal + .mCSB_scrollTools.mCSB_scrollTools_horizontal, .m-scrollable .mCustomScrollBox.mCS-minimal-dark + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal, .m-scrollable .mCustomScrollBox.mCS-minimal-dark + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    margin: 10px 0 0 0
}

.mCustomScrollbar[data-scrollbar-shown=true].mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools {
    opacity: .6
}

.m-scrollable .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #e2e5ec
}

.m-scrollable .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background: #bdc3d4
}

.m-scrollable.m-scrollable--skin-dark .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #a9acb8
}

.m-scrollable.m-scrollable--skin-dark .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background: #afb1bd
}

.mCSB_scrollTools {
    right: -13px !important
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #eeeef5
}

.m-aside-left--fixed .m-aside-left .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background: #e5e5f0
}

.m-aside-left--fixed .m-aside-left .mCSB_scrollTools {
    right: 5px
}

.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #9ea7c0;
    opacity: .7;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.m-datatable.m-datatable--default.m-datatable--scroll .mCustomScrollbar .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background: #9ea7c0;
    opacity: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}


