<div class="notification pos-top pos-right search-box bg--white border--bottom" data-animation="from-top" data-notification-link="search-box">
  <form>
      <div class="row justify-content-center">
          <div class="col-lg-6 col-lg-offset-3 col-md-8">
              <input type="search" name="query" placeholder="Suchanfrage eingeben und bestätigen" />
          </div>
      </div>
      <!--end of row-->
  </form>
</div>
<nav id="menu1" class="bar bar--sm bar-1 bar--sm-box-shaow">
  <div class="container">
      <div class="row">
          <div class="col-lg-1 col-md-2 hidden-xs">
              <div class="bar__module">
                  <a href="index.html">
                      <img class="logo logo-dark logo-adjust-size" alt="logo" src="../../assets/img/g-logo-final.png">
                      <img class="logo logo-light" alt="logo" src="../../assets/img/logo-light.png">
                  </a>
              </div>
              <!--end module-->
          </div>
          <div class="col-lg-11 col-md-12 text-right text-left-xs text-left-sm mt-2">
              <div class="bar__module">
                  <ul class="menu-horizontal text-left">
                      <li class="dropdown unsere dit itemdrop">
                          <span class="dropdown__trigger btn">UNSERE DIENSTLEISTUNGEN</span>
                          <div class="dropdown__container" style="left: -322.766px;">
                              <div class="container">
                                  <div class="row">
                                      <div class="col-sm-12 dropdown__content dropdown__content--lg" style="left: 322.766px;">
                                          <div class="pos-absolute col-md-5 imagebg hidden-sm hidden-xs" data-overlay="4">
                                              <div class="background-image-holder" style="background: url(../../assets/img/dropdown-1.jpg); opacity: 1;">
                                                  <img alt="background" src="../../assets/img/dropdown-1.jpg">
                                              </div>
                                              <div class="container pos-vertical-center">
                                                  <div class="row">
                                                      <div class="col-md-8 col-md-offset-2">
                                                          <img alt="Logo" src="../../assets/img/logo-light.png" class="image--xxs">
                                                          <span class="h2 color--white">Beautiful, modular sites in moments.</span>
                                                          <a href="#" class="btn btn--primary type--uppercase">
                                                              <span class="label">$17 USD.</span>
                                                              <span class="btn__text">
                                                                          Purchase Stack Now
                                                                      </span>
                                                          </a>
                                                      </div>
                                                  </div>
                                                  <!--end of row-->
                                              </div>
                                          </div>
                                          <div class="col-md-2 col-md-offset-6 col-sm-4">
                                              <h5>Industries</h5>
                                              <ul class="menu-vertical">
                                                  <li>
                                                      <a href="home-accommodation.html">
                                                          Accommodation
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-construction.html">
                                                          Construction
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-coworking.html">
                                                          Coworking
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-drone-photography.html">
                                                          Drone Photography
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-education.html">
                                                          Education
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-event.html">
                                                          Event
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-fitness.html">
                                                          Fitness
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-health-insurance.html">
                                                          Insurance
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-knowledge-base.html">
                                                          Knowledge Base
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-musician.html">
                                                          Musician
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-nonprofit.html">
                                                          Nonprofit
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-political.html">
                                                          Political
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-restaurant.html">
                                                          Restaurant
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-recruitment.html">
                                                          Recruitment
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-tourism.html">
                                                          Tourism
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-wedding.html">
                                                          Wedding
                                                      </a>
                                                  </li>
                                              </ul>
                                          </div>
                                          <div class="col-md-2 col-sm-4">
                                              <h5>Landing Pages</h5>
                                              <ul class="menu-vertical">
                                                  <li>
                                                      <a href="home-landing-1.html">
                                                          Landing 1
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-landing-2.html">
                                                          Landing 2
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-landing-3.html">
                                                          Landing 3
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-landing-4.html">
                                                          Landing 4
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-landing-5.html">
                                                          Landing 5
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-landing-6.html">
                                                          Landing 6
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-landing-7.html">
                                                          Landing 7
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-landing-8.html">
                                                          Landing 8
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-landing-9.html">
                                                          Landing 9
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-landing-10.html">
                                                          Landing 10
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-software-1.html">
                                                          Software 1
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-software-2.html">
                                                          Software 2
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-software-3.html">
                                                          Software 3
                                                      </a>
                                                  </li>
                                              </ul>
                                          </div>
                                          <div class="col-md-2 col-sm-4">
                                              <h5>Portfolios</h5>
                                              <ul class="menu-vertical">
                                                  <li>
                                                      <a href="home-portfolio-agency-1.html">
                                                          Agency
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-portfolio-agency-2.html">
                                                          Agency 2
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-portfolio-personal-1.html">
                                                          Personal 1
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-portfolio-photography.html">
                                                          Photography
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-portfolio-photography-2.html">
                                                          Photography 2
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-portfolio-studio-1.html">
                                                          Studio 1
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-portfolio-studio-2.html">
                                                          Studio 2
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-portfolio-video.html">
                                                          Video
                                                      </a>
                                                  </li>
                                              </ul>
                                              <h5>Coming Soon</h5>
                                              <ul class="menu-vertical">
                                                  <li>
                                                      <a href="home-coming-soon-1.html">
                                                          Coming Soon 1
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-coming-soon-2.html">
                                                          Coming Soon 2
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="home-coming-soon-3.html">
                                                          Coming Soon 3
                                                      </a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                      <!--end dropdown content-->
                                  </div>
                              </div>
                          </div>
                          <!--end dropdown container-->
                      </li>
                      <li class="nav-responsive-half">
                          <a href="#" data-notification-link="search-box">
                              <i class="stack-search icon--md" style="font-size: 20px;"></i>
                              <span class="dropdown__trigger">Suchen</span>
                          </a>
                          <!--end dropdown container-->
                      </li>
                      <li class="itemhead nav-responsive-half text-right">
                          <a href="sofunktioniert.html" style="text-transform: none">
                              <span class="type--italic" style="font-weight: 700;">So Funktioniert's</span>
                          </a>
                          <!--end dropdown container-->
                      </li>
                      <li></li>
                      <li></li>
                      <li></li>
                  </ul>
              </div>
              <!--end module-->
              <div class="bar__module mainbutton">
                  <div class="modal-instance button-set-responsive">
                      <a class="btn btn--sm type--uppercase modal-trigger" [routerLink]="['/login']">
                              <span class="btn__text">
                                  Anmelden
                              </span>
                      </a>
                      <a class="btn btn--sm btn--primary type--uppercase modal-trigger" [routerLink]="['/register']">
                              <span class="btn__text">
                                  Registrieren
                              </span>
                      </a>
                  </div>
              </div>
              <!--end module-->
          </div>
      </div>
      <!--end of row-->
  </div>
  <!--end of container-->
</nav>
<p>
  header-without-login works!
</p>
<p> To check git</p>
